<div class="container">
    <div class="col-sm-4">
        <h4>About Leisure</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quo molestias modi iste nostrum, perspiciatis, aperiam odio veniam dicta quibusdam mollitia, temporibus voluptate debitis placeat architecto, provident minima nobis quasi!</p>
    </div>
    <div class="col-sm-4">
        <h4>How to Search?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iure officiis, rem, quidem consequuntur eius laboriosam possimus porro distinctio consectetur inventore autem totam recusandae, ea fuga. Voluptates corrupti labore dolor.</p>
    </div>
    <div class="col-sm-4">
        <h4>Latest Downloads</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eius deleniti, harum repudiandae sint iure natus nihil totam quasi! Temporibus velit cumque necessitatibus eius eum at inventore nobis expedita fugit.
        </p>
        <br/>
    </div>
</div>
